@model IEnumerable<ESCHOOLING.Shared.Models.Attendance>
@{
    Layout = "_TeacherLayout";
    string selectedMonth = ViewBag.Date;
    var monthOptions = Enumerable.Range(0, 12)
        .Select(i => DateTime.Today.AddMonths(-i))
        .Select(d => new { Value = d.ToString("yyyy-MM"), Label = d.ToString("MMMM yyyy") });
}

<!DOCTYPE html>
<html lang="en" dir="">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View Child's Attendance | EduSight</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="../../dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="../../dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
</head>

<body class="text-left">

    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a href="">View Child's Attendance</a></li>
                <li>Parent</li>
            </ul>
            <select class="form-control form-control-rounded mt-2 col-lg-2" id="attendanceMonth" name="attendanceMonth">
                @foreach (var m in monthOptions)
                {
                    <option value="@m.Value" selected="@(m.Value == selectedMonth ? "selected" : null)">@m.Label</option>
                }
            </select>
            &nbsp;&nbsp;
            <button class="btn btn-primary btn-block btn-rounded mt-2 col-lg-1 float-right" onclick="window.location.href = '/Parent/ViewAttendanceDetails?date=' + document.getElementById('attendanceMonth').value;"> Search</button>
            &nbsp;&nbsp;
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Student Id</th>
                                <th scope="col">Attendance</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayFor(modelItem => item.StudentId)
                                    </th>
                                    <th scope="row">
                                        @if (item.IsPresent == true)
                                        {
                                            <span class="badge badge-success">Present</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">Absent</span>
                                        }
                                    </th>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <span class="badge badge-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">Not Active</span>
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end of main-content -->
    </div>
</body>

</html>